
footer {
    background-color: #1E293B; 
    color: white; 
    padding: 30px 20px; 
}


footer h3 {
   
    font-size: 1.5em; 
    text-align: center; 
}


footer h4 {
    margin-bottom: 15px; 
    font-size: 1.1em; 
    text-align: center; 
    opacity: 0.9; 
}


footer div {
    margin-bottom: 10px; 
    padding: 8px 0; 
}






footer a {
    color: #3B82F6; 
    text-decoration: none; 
}






.Facebook, .Instagram, .WhatsApp, .Telephone {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

